<template>
    <div>       
        <div v-if="aChannelList.length !== 0">
            <div v-for="(oItem, iIndex) in aChannelList" :key="iIndex">
                <div class="cardContainer" @click="selectChannel(oItem.snippet)">
                    <div class="leftCard">
                        <img class="channelImage" :src="oItem.snippet.thumbnails.high.url"/>
                    </div>
                    <div class="rightCard">
                        <h3>{{oItem.snippet.channelTitle}}</h3>
                        <p>{{oItem.snippet.description}}</p>
                    </div>                                        
                </div>                
            </div>
        </div>        
    </div>
</template>

<script>
    export default {
        name: 'ChannelComponent',
        props:['aChannelList'],        
        methods: {
            /**
             * Select youtube channel
             */
            selectChannel(aData) {
                this.$emit('selectChannel', aData)                
            }
        },
    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .cardContainer {
        cursor: pointer;
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        width: 600px;
        height: 120px;
        background-color: #FFFFFF;
        border-radius: 5px;
        border-left: 4px solid rgb(247, 36, 36);
        -webkit-box-shadow: 10px 10px 15px -5px rgba(230,223,230,1);
        -moz-box-shadow: 10px 10px 15px -5px rgba(230,223,230,1);
        box-shadow: 10px 10px 15px -5px rgba(230,223,230,1);   
             
    }

    .cardContainer:hover {
        box-shadow: 12px 12px 17px -5px rgb(223, 219, 223);
        background-color: #f0eaea;
    }

    .leftCard {        
        width: 200px;
        height: 120px;
    }
    .channelImage {
        height: 120px;
        border-radius: 2px;
        width: 200px;
    }

    .rightCard {
        width: 400px;
        padding: 10px;        
    }

    .rightCard h3 {
        text-align: left;
        font-family: 'Roboto', sans-serif;
    }

    .rightCard p {
        margin-top: 7px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #636161;
    }
    
    
</style>