<template>
    <div class="v_mainContainer">
        <div  v-if="aVideoList !== null">
            <div v-for="(oItem, iIndex) in aVideoList['videos']" :key="iIndex">
                <div class="v_cardContainer" @click="goToLink(oItem.video_link)">
                    <div class="v_leftCard">
                        <img class="v_videoThumbnail" :src="oItem.thumbnail"/>
                    </div>
                    <div class="v_rightCard">
                        <h3>{{oItem.title}}</h3>
                        <p>{{oItem.description}}</p>
                    </div>                                        
                </div>                
            </div>
        </div> 
    </div>
</template>

<script>
    export default {
        name: 'ChannelVideosComponent',
        props:['aVideoList'],                
        methods: {
            /**
             * Open youtube video link on other tab
             */
            goToLink(sLink) {
                window.open(sLink);
            }
        }
    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .v_mainContainer {
        margin: 0 auto;
        height: 460px;
        width: 650px;
        margin-top: 40px;
        overflow-y: scroll;
    }

    .v_mainContainer::-webkit-scrollbar {
        width: 8px;
    }

    .v_mainContainer::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    .v_mainContainer::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #888; 
    }

    .v_mainContainer::-webkit-scrollbar-thumb:hover {
        background: rgb(85, 85, 85); 
    }

    .v_cardContainer {
        cursor: pointer;
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        width: 600px;
        height: 120px;
        background-color: #FFFFFF;
        border-radius: 5px;
        border-left: 4px solid rgb(247, 36, 36);
        
        -webkit-box-shadow: 10px 10px 15px -5px rgba(230,223,230,1);
        -moz-box-shadow: 10px 10px 15px -5px rgba(230,223,230,1);
        box-shadow: 10px 10px 15px -5px rgba(230,223,230,1);        
    }

    .v_cardContainer:hover {
        box-shadow: 12px 12px 17px -5px rgb(223, 219, 223);
        background-color: #f0eaea;
    }

    .v_leftCard {        
        width: 200px;
        height: 120px;
    }
    .v_videoThumbnail {
        height: 120px;
        border-radius: 2px;
        width: 200px;
    }

    .v_rightCard {
        width: 400px;
        padding: 10px;        
    }

    .v_rightCard h3 {
        text-align: left;
        font-family: 'Roboto', sans-serif;
    }

    .v_rightCard p {
        margin-top: 7px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #636161;
    }
</style>