<template>
    <div>
        <div class="loaderBg">
            <img class="loaderImg" src="@/assets/images/loader.gif" alt="#">
        </div>
    </div>
</template>

<script>
    export default {
        name: 'LoaderComponent'
    }
</script>

<style >
    .loaderBg {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 900;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .5);
    }

    .loaderImg {
        height: 80px;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
</style>