<template>
    <div class="homeContainer">      
      <div class="youtubeContainer">
          <img class="youtubeLogo" src="@/assets/images/youtube.png" alt="#">        
          <input class="searchInputBox" type="text" v-model="this.sSearchInput" placeholder="Search Youtube Channel">
          <button class="searchBtn" @click="this.searchYoutubeChannel"><i class="fas fa-search"></i></button>
          <img v-if="bDance" class="dancingGif" src="@/assets/images/dancing.gif" alt="#">                 
          <ChannelComponent v-if="bChannel" :aChannelList="this.aChannelList" @selectChannel="fetchVideoOnChannel"/>
          <ChannelVideosComponent v-if="!bChannel" :aVideoList="this.aVideoList"/>          
      </div> 
      <LoaderComponent v-if="bLoader"/>
    </div>
    
</template>

<script>

import axios from 'axios';
import ChannelComponent from './components/ChannelComponent';
import ChannelVideosComponent from './components/ChannelVideosComponent';
import LoaderComponent from './components/LoaderComponent';

export default {
  name: 'App',
  components: {
    ChannelComponent,
    ChannelVideosComponent,
    LoaderComponent
  },
  data() {
    return {
      serverUrl: 'http://localhost:8000/sync_youtube_channel.php',
      aChannelList: [],
      sSearchInput: '',
      bChannel: false,
      aVideoList: null,
      bLoader: false,
      bDance: true
    }
  },
  methods: {
    /**
     * Search YoutubeChannel
     */
    searchYoutubeChannel() {      
      if (this.isEmpty(this.sSearchInput)) {
        alert('Please input channel');
        return;
      }
      this.bLoader = true;
      this.bDance = false;
      const oData = new FormData();      
      oData.append('method', 'searchChannel')
      oData.append('channel_name', this.sSearchInput)
      axios.post(this.serverUrl, oData)
      .then(res => {
        if (this.isEmpty(res.data) || this.isEmpty(res.data.items) ) {
          alert('No results found');
          this.bLoader = false;
          return;
        }
        let aChannel = res.data.items
        this.aChannelList = {...this.aChannelList,...aChannel}
        this.bChannel = true;
        this.bLoader = false;        
        
      }).catch(err => {
        this.bLoader = false;
        console.log(err)
      })
    },
    /**
     * Fetch videos on selected youtube channel
     */
    fetchVideoOnChannel(aData) {
      const oData = new FormData();      
      oData.append('method', 'fetchVideoChannel')
      oData.append('channel_id', aData['channelId'])
      oData.append('profile_picture', aData['thumbnails']['default']['url'])
      oData.append('name', aData['channelTitle'])
      oData.append('description', aData['description'])
      this.bLoader = true;
      axios.post(this.serverUrl, oData)
      .then(res => {
        if (this.isEmpty(res.data) || this.isEmpty(res.data.videos)) {
          alert('No videos found');
          this.bLoader = false;
          return;
        }
        this.bChannel = false;
        this.aVideoList = res.data;
        this.bLoader = false;
      }).catch(err => {
        this.bLoader = false;
        console.log(err)
      })
    },
    /**
     * Validate if the value is empty
     */
    isEmpty(value) {
      return value === undefined ||
        value === null ||
        (typeof value === 'object' && Object.keys(value).length === 0) ||
        (typeof value === 'string' && value.trim().length === 0)
    }
  }
}
</script>

<style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .homeContainer {
      min-height: 100vh;
      width: 100%;
      background-color: #F4F4F4;
    }

    .youtubeContainer {
      margin: 0 auto;
      width: 75% ;
      text-align: center;
      padding-top: 50px;
      align-items: center;
    }
    
    .searchBtn {
      background-color: #f1eeee;
      width: 50px;
      height: 30px;
      border: 1px solid #c7c3c3;  
      cursor: pointer;    
      vertical-align: bottom    
    }

    .searchBtn:hover {
      background-color: #e6e1e1;
    }

    .searchBtn i {
      color: #686262;
    }

    .searchInputBox {
      height: 30px;
      width: 400px;
      font-size: 15px;
      padding-left: 10px;
    }

    .youtubeLogo {
      height: 150px;
      width: auto;
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    .dancingGif {
      height: 100px;
      width: auto;
      display: block;
      margin: 0 auto;
    }
</style>
